# Firm & Company Profile Details
EXPO_PUBLIC_FIRM_NAME="VISHWANATH PACKAGING"
EXPO_PUBLIC_FIRM_ADDRESS="ROHANIYA JAGATPUR, VARANASI (U.P.)"
EXPO_PUBLIC_FIRM_EMAIL="vishwanathpackaging@gmail.com"
EXPO_PUBLIC_FIRM_PHONE="+91-9415202905"
EXPO_PUBLIC_FIRM_GSTIN="09BZSPK1819H1ZY"

# Bank Accounts Details (used for Invoices & Quotations)
EXPO_PUBLIC_BANK_NAME="Bank of India"
EXPO_PUBLIC_BANK_ACCOUNT_NO="691527110000080"
EXPO_PUBLIC_BANK_IFSC="BKID0006915"
EXPO_PUBLIC_BANK_BRANCH="Lohatiya,Varanasi"
